<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>assest/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{794, 1}, {791, 343}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {791, 343}}</string>
			<key>sourceSize</key>
			<string>{791, 343}</string>
		</dict>
		<key>assest/am.png</key>
		<dict>
			<key>frame</key>
			<string>{{757, 891}, {29, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {29, 22}}</string>
			<key>sourceSize</key>
			<string>{29, 22}</string>
		</dict>
		<key>assest/amf.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 665}, {31, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {31, 22}}</string>
			<key>sourceSize</key>
			<string>{31, 22}</string>
		</dict>
		<key>assest/arrow_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052, 937}, {23, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 42}}</string>
			<key>sourceSize</key>
			<string>{23, 42}</string>
		</dict>
		<key>assest/avartar_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965, 597}, {188, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {188, 71}}</string>
			<key>sourceSize</key>
			<string>{188, 71}</string>
		</dict>
		<key>assest/avartar_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965, 407}, {188, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {188, 71}}</string>
			<key>sourceSize</key>
			<string>{188, 71}</string>
		</dict>
		<key>assest/back copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{979, 895}, {66, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 71}}</string>
			<key>sourceSize</key>
			<string>{66, 71}</string>
		</dict>
		<key>assest/back.png</key>
		<dict>
			<key>frame</key>
			<string>{{676, 1097}, {66, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 71}}</string>
			<key>sourceSize</key>
			<string>{66, 71}</string>
		</dict>
		<key>assest/back_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1462, 996}, {66, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66, 71}}</string>
			<key>sourceSize</key>
			<string>{66, 71}</string>
		</dict>
		<key>assest/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {791, 343}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {791, 343}}</string>
			<key>sourceSize</key>
			<string>{791, 343}</string>
		</dict>
		<key>assest/backgroundSetting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1151, 478}, {328, 229}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {328, 229}}</string>
			<key>sourceSize</key>
			<string>{329, 230}</string>
		</dict>
		<key>assest/background_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 346}, {330, 292}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {330, 292}}</string>
			<key>sourceSize</key>
			<string>{330, 292}</string>
		</dict>
		<key>assest/background_brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{246, 1580}, {356, 216}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {356, 216}}</string>
			<key>sourceSize</key>
			<string>{356, 216}</string>
		</dict>
		<key>assest/background_cell.png</key>
		<dict>
			<key>frame</key>
			<string>{{1747, 774}, {159, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 42}}</string>
			<key>sourceSize</key>
			<string>{159, 42}</string>
		</dict>
		<key>assest/background_content.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 787}, {791, 343}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {791, 343}}</string>
			<key>sourceSize</key>
			<string>{791, 343}</string>
		</dict>
		<key>assest/background_friend_info.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 346}, {302, 171}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {302, 171}}</string>
			<key>sourceSize</key>
			<string>{302, 171}</string>
		</dict>
		<key>assest/background_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 346}, {302, 171}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {302, 171}}</string>
			<key>sourceSize</key>
			<string>{302, 171}</string>
		</dict>
		<key>assest/boxNamNu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1530, 1038}, {124, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 44}}</string>
			<key>sourceSize</key>
			<string>{124, 44}</string>
		</dict>
		<key>assest/boxSetting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534, 912}, {124, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 44}}</string>
			<key>sourceSize</key>
			<string>{124, 44}</string>
		</dict>
		<key>assest/btn_blue copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 787}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/btn_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 1007}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/btn_blue_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1327, 869}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/btn_grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 870}, {201, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {201, 68}}</string>
			<key>sourceSize</key>
			<string>{201, 68}</string>
		</dict>
		<key>assest/btn_grey_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 800}, {201, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {201, 68}}</string>
			<key>sourceSize</key>
			<string>{201, 68}</string>
		</dict>
		<key>assest/buttonSetting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1537, 346}, {68, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 48}}</string>
			<key>sourceSize</key>
			<string>{68, 48}</string>
		</dict>
		<key>assest/button_bet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1874, 935}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_bet_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{696, 963}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_buy_avatar.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 963}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_buy_avatar_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 831}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_change_avatar.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 875}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_change_avatar_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 1051}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_change_password.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 1139}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_change_password_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1327, 825}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_choingay.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 1095}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_choingay_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 919}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1662, 1195}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>assest/button_close_blue press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1276, 1140}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>assest/button_close_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1318, 1140}, {40, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>sourceSize</key>
			<string>{40, 40}</string>
		</dict>
		<key>assest/button_confirm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1724, 978}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_confirm_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858, 994}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_confirm_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550, 1195}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_confirm_yellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1928, 1255}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_createAcc.png</key>
		<dict>
			<key>frame</key>
			<string>{{1747, 716}, {159, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 56}}</string>
			<key>sourceSize</key>
			<string>{159, 56}</string>
		</dict>
		<key>assest/button_createAcc_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 1136}, {159, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 56}}</string>
			<key>sourceSize</key>
			<string>{159, 56}</string>
		</dict>
		<key>assest/button_create_mail.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576, 1151}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/button_create_mail_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576, 1107}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/button_datcuoc.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576, 1048}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_datcuoc_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1714, 1037}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/button_dongy.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 940}, {200, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 50}}</string>
			<key>sourceSize</key>
			<string>{200, 50}</string>
		</dict>
		<key>assest/button_dongy_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{790, 776}, {200, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 50}}</string>
			<key>sourceSize</key>
			<string>{200, 50}</string>
		</dict>
		<key>assest/button_game_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1908, 716}, {51, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 53}}</string>
			<key>sourceSize</key>
			<string>{51, 53}</string>
		</dict>
		<key>assest/button_game_back_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1481, 756}, {51, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 53}}</string>
			<key>sourceSize</key>
			<string>{51, 53}</string>
		</dict>
		<key>assest/button_game_chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1992, 1047}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_game_chat_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1442, 1121}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_game_money.png</key>
		<dict>
			<key>frame</key>
			<string>{{1496, 1164}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_game_money_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1442, 1069}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_game_setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222, 1105}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_game_setting_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1969, 1165}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>assest/button_huyketban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1704, 1222}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_huyketban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2008, 935}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_ketban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710, 1184}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_ketban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1822, 1187}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_kick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816, 1225}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_kick_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1934, 1217}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_login.png</key>
		<dict>
			<key>frame</key>
			<string>{{59, 346}, {306, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {306, 56}}</string>
			<key>sourceSize</key>
			<string>{306, 56}</string>
		</dict>
		<key>assest/button_loginFb.png</key>
		<dict>
			<key>frame</key>
			<string>{{755, 1086}, {159, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 56}}</string>
			<key>sourceSize</key>
			<string>{159, 56}</string>
		</dict>
		<key>assest/button_loginFb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{949, 1077}, {159, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {159, 56}}</string>
			<key>sourceSize</key>
			<string>{159, 56}</string>
		</dict>
		<key>assest/button_login_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 346}, {306, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {306, 56}}</string>
			<key>sourceSize</key>
			<string>{306, 56}</string>
		</dict>
		<key>assest/button_notification.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110, 1105}, {110, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 36}}</string>
			<key>sourceSize</key>
			<string>{110, 36}</string>
		</dict>
		<key>assest/button_refresh.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 570}, {49, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 47}}</string>
			<key>sourceSize</key>
			<string>{49, 47}</string>
		</dict>
		<key>assest/button_refresh_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 619}, {49, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 47}}</string>
			<key>sourceSize</key>
			<string>{49, 47}</string>
		</dict>
		<key>assest/button_scroll.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534, 864}, {46, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 46}}</string>
			<key>sourceSize</key>
			<string>{46, 46}</string>
		</dict>
		<key>assest/button_sms.png</key>
		<dict>
			<key>frame</key>
			<string>{{398, 1938}, {96, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 46}}</string>
			<key>sourceSize</key>
			<string>{96, 46}</string>
		</dict>
		<key>assest/button_sms_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 766}, {96, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 46}}</string>
			<key>sourceSize</key>
			<string>{96, 46}</string>
		</dict>
		<key>assest/button_taoban.png</key>
		<dict>
			<key>frame</key>
			<string>{{346, 1183}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_taoban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1584, 832}, {146, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146, 42}}</string>
			<key>sourceSize</key>
			<string>{146, 42}</string>
		</dict>
		<key>assest/button_thoat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766, 672}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 42}</string>
		</dict>
		<key>assest/button_thoat_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1584, 672}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 42}</string>
		</dict>
		<key>assest/button_tygia.png</key>
		<dict>
			<key>frame</key>
			<string>{{446, 1938}, {96, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 46}}</string>
			<key>sourceSize</key>
			<string>{96, 46}</string>
		</dict>
		<key>assest/button_tygia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 668}, {96, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 46}}</string>
			<key>sourceSize</key>
			<string>{96, 46}</string>
		</dict>
		<key>assest/button_updare.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 1092}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 42}</string>
		</dict>
		<key>assest/button_updare_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 1048}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 42}</string>
		</dict>
		<key>assest/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1908, 769}, {51, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 53}}</string>
			<key>sourceSize</key>
			<string>{51, 53}</string>
		</dict>
		<key>assest/close_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1481, 809}, {51, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 53}}</string>
			<key>sourceSize</key>
			<string>{51, 53}</string>
		</dict>
		<key>assest/create_account.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138, 821}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
		<key>assest/create_account_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{790, 860}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
		<key>assest/create_room.png</key>
		<dict>
			<key>frame</key>
			<string>{{1580, 989}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/create_room_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1475, 862}, {132, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 57}}</string>
			<key>sourceSize</key>
			<string>{132, 57}</string>
		</dict>
		<key>assest/cycle.png</key>
		<dict>
			<key>frame</key>
			<string>{{769, 640}, {23, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 24}}</string>
			<key>sourceSize</key>
			<string>{23, 24}</string>
		</dict>
		<key>assest/find_password.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150, 765}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
		<key>assest/find_password_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 916}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
		<key>assest/frame_info_friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 663}, {135, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {135, 262}}</string>
			<key>sourceSize</key>
			<string>{135, 262}</string>
		</dict>
		<key>assest/frame_scroll.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 654}, {369, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {369, 16}}</string>
			<key>sourceSize</key>
			<string>{369, 16}</string>
		</dict>
		<key>assest/friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{992, 776}, {117, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 71}}</string>
			<key>sourceSize</key>
			<string>{117, 71}</string>
		</dict>
		<key>assest/friend_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077, 678}, {117, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 71}}</string>
			<key>sourceSize</key>
			<string>{117, 71}</string>
		</dict>
		<key>assest/huy_ket_ban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710, 1096}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/huy_ket_ban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844, 1097}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/iconService_Chat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300, 1027}, {140, 111}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 111}}</string>
			<key>sourceSize</key>
			<string>{140, 111}</string>
		</dict>
		<key>assest/iconService_Game.png</key>
		<dict>
			<key>frame</key>
			<string>{{1732, 865}, {140, 111}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 111}}</string>
			<key>sourceSize</key>
			<string>{140, 111}</string>
		</dict>
		<key>assest/iconService_Guide.png</key>
		<dict>
			<key>frame</key>
			<string>{{1906, 822}, {140, 111}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 111}}</string>
			<key>sourceSize</key>
			<string>{140, 111}</string>
		</dict>
		<key>assest/iconService_Rank.png</key>
		<dict>
			<key>frame</key>
			<string>{{1339, 709}, {140, 114}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 114}}</string>
			<key>sourceSize</key>
			<string>{140, 114}</string>
		</dict>
		<key>assest/iconService_Shop.png</key>
		<dict>
			<key>frame</key>
			<string>{{1582, 876}, {140, 111}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 111}}</string>
			<key>sourceSize</key>
			<string>{140, 111}</string>
		</dict>
		<key>assest/icon_bacaychuong.png</key>
		<dict>
			<key>frame</key>
			<string>{{325, 672}, {160, 113}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {160, 113}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_bacaythuong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 672}, {160, 113}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {160, 113}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_chan.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 972}, {160, 112}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {160, 112}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_cotuong.png</key>
		<dict>
			<key>frame</key>
			<string>{{163, 672}, {160, 113}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {160, 113}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_create_acc.png</key>
		<dict>
			<key>frame</key>
			<string>{{757, 945}, {28, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
		<key>assest/icon_default.png</key>
		<dict>
			<key>frame</key>
			<string>{{1978, 1099}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>assest/icon_facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{757, 915}, {28, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
		<key>assest/icon_lieng.png</key>
		<dict>
			<key>frame</key>
			<string>{{280, 1938}, {116, 108}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 6}, {116, 108}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_phom.png</key>
		<dict>
			<key>frame</key>
			<string>{{976, 963}, {160, 112}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {160, 112}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_tcc.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138, 991}, {160, 112}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {160, 112}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_tlmb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138, 877}, {160, 112}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {160, 112}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_tlmn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1584, 716}, {161, 114}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 114}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/icon_xito.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300, 913}, {160, 112}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {160, 112}}</string>
			<key>sourceSize</key>
			<string>{161, 114}</string>
		</dict>
		<key>assest/images_intro.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 525}, {280, 249}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {280, 249}}</string>
			<key>sourceSize</key>
			<string>{280, 249}</string>
		</dict>
		<key>assest/input.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 478}, {354, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {354, 45}}</string>
			<key>sourceSize</key>
			<string>{354, 45}</string>
		</dict>
		<key>assest/light_scroll.png</key>
		<dict>
			<key>frame</key>
			<string>{{404, 650}, {363, 11}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {363, 11}}</string>
			<key>sourceSize</key>
			<string>{363, 11}</string>
		</dict>
		<key>assest/line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2044, 305}, {131, 2}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131, 2}}</string>
			<key>sourceSize</key>
			<string>{131, 2}</string>
		</dict>
		<key>assest/lineDoc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2044, 1}, {2, 302}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2, 302}}</string>
			<key>sourceSize</key>
			<string>{2, 302}</string>
		</dict>
		<key>assest/lineNgang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2040, 1}, {574, 2}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {574, 2}}</string>
			<key>sourceSize</key>
			<string>{574, 2}</string>
		</dict>
		<key>assest/logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{697, 800}, {161, 58}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {161, 58}}</string>
			<key>sourceSize</key>
			<string>{161, 58}</string>
		</dict>
		<key>assest/logo_mobifone.png</key>
		<dict>
			<key>frame</key>
			<string>{{43, 1954}, {90, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 40}}</string>
			<key>sourceSize</key>
			<string>{90, 40}</string>
		</dict>
		<key>assest/logo_viettel.png</key>
		<dict>
			<key>frame</key>
			<string>{{85, 1954}, {90, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 40}}</string>
			<key>sourceSize</key>
			<string>{90, 40}</string>
		</dict>
		<key>assest/logo_vinaphone.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1954}, {90, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 40}}</string>
			<key>sourceSize</key>
			<string>{90, 40}</string>
		</dict>
		<key>assest/mail.png</key>
		<dict>
			<key>frame</key>
			<string>{{1077, 525}, {151, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {151, 71}}</string>
			<key>sourceSize</key>
			<string>{151, 71}</string>
		</dict>
		<key>assest/mail_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{127, 1954}, {151, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {151, 71}}</string>
			<key>sourceSize</key>
			<string>{151, 71}</string>
		</dict>
		<key>assest/money.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965, 204}, {201, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {201, 73}}</string>
			<key>sourceSize</key>
			<string>{201, 73}</string>
		</dict>
		<key>assest/money_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965, 1}, {201, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {201, 73}}</string>
			<key>sourceSize</key>
			<string>{201, 73}</string>
		</dict>
		<key>assest/nhan_tin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710, 1140}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/nhan_tin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1848, 1053}, {132, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {132, 42}}</string>
			<key>sourceSize</key>
			<string>{132, 42}</string>
		</dict>
		<key>assest/notification.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1580}, {372, 243}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {372, 243}}</string>
			<key>sourceSize</key>
			<string>{372, 243}</string>
		</dict>
		<key>assest/popup.png</key>
		<dict>
			<key>frame</key>
			<string>{{1587, 1}, {669, 376}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {669, 376}}</string>
			<key>sourceSize</key>
			<string>{669, 376}</string>
		</dict>
		<key>assest/ratio_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{388, 650}, {14, 14}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{18, 16}</string>
		</dict>
		<key>assest/ratio_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{372, 650}, {14, 14}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{18, 16}</string>
		</dict>
		<key>assest/setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065, 867}, {68, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>sourceSize</key>
			<string>{68, 71}</string>
		</dict>
		<key>assest/setting_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065, 797}, {68, 71}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {68, 71}}</string>
			<key>sourceSize</key>
			<string>{68, 71}</string>
		</dict>
		<key>assest/tab_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1536, 416}, {152, 49}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {152, 49}}</string>
			<key>sourceSize</key>
			<string>{152, 49}</string>
		</dict>
		<key>assest/tab_enable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1747, 818}, {157, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {157, 45}}</string>
			<key>sourceSize</key>
			<string>{157, 45}</string>
		</dict>
		<key>assest/title.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 689}, {200, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 30}}</string>
			<key>sourceSize</key>
			<string>{200, 30}</string>
		</dict>
		<key>assest/title_all.png</key>
		<dict>
			<key>frame</key>
			<string>{{790, 828}, {200, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 30}}</string>
			<key>sourceSize</key>
			<string>{200, 30}</string>
		</dict>
		<key>assest/title_chatroom.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 446}, {739, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {739, 30}}</string>
			<key>sourceSize</key>
			<string>{739, 30}</string>
		</dict>
		<key>assest/title_chonbanchoi.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 380}, {739, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {739, 32}}</string>
			<key>sourceSize</key>
			<string>{739, 32}</string>
		</dict>
		<key>assest/title_inbox.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 346}, {740, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {740, 32}}</string>
			<key>sourceSize</key>
			<string>{740, 32}</string>
		</dict>
		<key>assest/title_lichsugiaodich.png</key>
		<dict>
			<key>frame</key>
			<string>{{795, 414}, {739, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {739, 30}}</string>
			<key>sourceSize</key>
			<string>{739, 30}</string>
		</dict>
		<key>assest/tooltip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844, 1141}, {123, 44}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {123, 44}}</string>
			<key>sourceSize</key>
			<string>{125, 47}</string>
		</dict>
		<key>assest/transfer_money.png</key>
		<dict>
			<key>frame</key>
			<string>{{1481, 478}, {137, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 53}}</string>
			<key>sourceSize</key>
			<string>{137, 53}</string>
		</dict>
		<key>assest/transfer_money_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1481, 617}, {137, 53}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {137, 53}}</string>
			<key>sourceSize</key>
			<string>{137, 53}</string>
		</dict>
		<key>assest/update.png</key>
		<dict>
			<key>frame</key>
			<string>{{494, 992}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
		<key>assest/update_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150, 709}, {187, 54}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 54}}</string>
			<key>sourceSize</key>
			<string>{187, 54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>assest.png</string>
	</dict>
</dict>
</plist>
